.env
build/
dist/
compile.bat
secrets.txt
xylq.spec
badid.json
badcache.txt
poop.py
rep.json
totalrep.json
guilds.txt
lovelist.json
sourcelist.json
xylq - Copy.py
reactroles.json
reminders.json
wipfunctions.py
config.json
quotes.json
